/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
:root {
  /* fixed dimension */
  --fr-ht: 120px;
  --snav-wh-collap: 50px;
  --sanv-wh-expan: 250px;
  /*obscured effect  */
  --obs: #949494;
  --opa: 0.6;

  /* percent-bar */
  --pbar: #eee;
}
/*  */

/* Principal layout elements */
body {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;;
  height: 100vh;
}

footer {
  height: var(--fr-ht);
  padding: var(--pd-sm);
  color: #fff;

}

#side-nav {
  width: var(--snav-wh-collap);
  flex-shrink: 0;
  padding: var(--nav-pd);
  overflow-x: hidden;
  color: var(--obs)
}

main {
  flex-grow: 1;

  position: relative;
  overflow-y: auto;

  color: #fff;
}

main header {
  height: var(--fr-ht);
}

#main-contents {
  padding: var(--pd-md);
}

/* nav > div{
  padding: var(--nav-pd)
} */

/* span {
  margin: 0 5px;
} */

img {
  max-width: 100%;
}

ul {
  list-style-type: none;

  /* li {
    margin-bottom: 4px;
  } */
  
  a {
      text-decoration: none;
      color: var(--obs);
      margin: 15px;
  }  
}

h1 {
  margin-top: 30px;
}

/* background-color */
.fr-bdc {
  background-color: #353535;
}

.snav-bdc {
  background-color: #000;
}

.main-bdc {
  background-color: #1a1725
}

.main-header-bdc {
  background-color: #00000095;
}

/* Utilities */
.top-content {
  height: calc(100vh - var(--fr-ht));
}

/* in footer */
/* imposta una stessa dimensione per tutti i figli di flex */
.children-fbasis > * {
 flex-basis: 32%;
}

.percentual-bar {
  height: 100%;
  border-radius: 3px;
  background-color: var(--pbar);
}

/* side-content on the left */
.side-content.left{
  img {
   display: block;
   width: auto;
   height: calc(var(--fr-ht ) / 2);
  }

  .info-track {
   margin: 0 5px;
   flex-basis: min-content;

   span{
     font-size: 1.05rem;
     font-weight: 600;
   }
 
   span:last-child {
     font-size: 0.8rem;
     color: var(--obs);
   };
  }

  .fav-save-buttons {
    a {
      color: var(--obs);
    }
  }
}

/* side-content on the right */
.side-content.right {
  li {
    margin-right: 10px
  }

  .vol-bar {
    width: 80px;
    height: 4px;
    background-color: var(--obs);
    border-radius: 2px;

    .percentual-bar {
      width: 30%;
    }
  }
}

.central-content{
  ul{
    width: 100%;
    font-size: 1.4rem;
  } 

  .fa-circle-play {
    font-size: 2.4rem;
  }

  .track-progress {
    font-size: 0.7rem;

    .track-bar {
      width: 80%;
      height: 4px;
      background-color: var(--obs);
      border-radius: 3px;
      margin: 20px 8px;

      .percentual-bar {
        width: 10%;
      }
    }
  } 
}

/* in side-nav */
#snav-header, #snav-footer {
  flex-basis: max-content;
}

#snav-header {
  img:first-child{
  width: 35px;
  }

  img:last-child {
    width: 150px;
  }
}



#snav-contents {
  flex: 1;
  overflow-x: visible;
  overflow-y: hidden;

  img {
    opacity: var(--opa);
  }

  #playlists {
    flex: 1;
    overflow: hidden;

    a.create-playlist {
      color: var(--obs);
      text-decoration: none;
      display: block;
    }

    .fa-square-plus {
      font-size: 3.5rem;
      vertical-align: middle;
      margin-right: 10px;
    }

    ul {
      overflow: auto;
    }
  }
}

#snav-contents #spotify-sections ul {
  list-style-type: none;
  list-style-position: inside;
  margin-top: 10px;

  img {
    width: 30px;
  }
}

#snav-footer {
  padding: 0;

  span {
    margin-left: 20px;
  }

  
  .box-download-btn {
    margin-bottom: 10px;

    img {
      width: 25px;
      margin-left: -4px;
      opacity: var(--opa);
    }
    
    span {
      color: var(--obs);
    }
  }
  
  .separator-div {
    border: 1px solid var(--obs);
    margin-top: 0;
  }

  .profile-box {
    img {
      width: 22px;
    }

    .profile-img{
      width: 33px;
      border-radius: 50%;
      padding: 2px 0;
      background-color: #aaa;
      margin: 0 auto;
      text-align: center;
    }
  }
}

/* in main header */
main header {
  padding-right: var(--sec-pd-sm);
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  line-height: var(--fr-ht);
  text-align: right;
}

.button-box {
  display: inline-block;
  width: 160px;
  text-align: center;
}

/* in main contents */
#maincont-nav {
  a {
    font-size: 0.8rem;
    font-weight: 700;
  }
}

#main-albums{
  h1:first-of-type {
    margin-top: 60px;
  }
}

.subtitle {
  color: var(--obs);
}

.col{
  flex-basis: 50%;
  min-height: var(--mh-md);
  /* border: 3px solid goldenrod; */
}

.card {
  /* background-color: plum; */
  height: 100%;

  h2 {
    font-size: 1.1rem;
  }
}


/* RESPONSIVE */
/* small dimension of visualized window  */
@media screen and (min-width: 700px) {
  /* generics */
  .sm-d-block {
    display: block;
  }

  .sm-d-inline {
    display: inline;
  }

  .sm-d-inblock {
    display: inline-block;
  }

  .sm-d-none {
    display: none;
  }

  .sm-d-flex {
    display: flex;
  }

  /* Principal layout elements */
  #side-nav {
    width: var(--sanv-wh-expan);
    padding: var(--sec-pd-md);
    text-align: left;
    
    img {
      max-width: none;
    }
  }

  /* in footer */
  #snav-footer {
    .profile-box .profile-img {
      margin: 0;
    }
  }
  /* in side nav */
   

  /* in main-contents */
}

/* medium dimension of visualized window */
@media screen and (min-width: 1000px) {
  /* in footer */

  /* in side nav */

  /* in main-contents */
  .col {
    flex-basis: 25%;
  }
}

/* large dimension of visualized window */
@media screen and (min-width: 1200px) {
  /* in footer */

  /* in side nav */


  /* in main-contents */
  .col {
    flex-basis: calc(100% / 6);
  }
}
