/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
:root {
  /* fixed dimension */
  --fr-ht: 120px;
  --snav-wh: 50px;

  /*obscured effect  */
  --obs: #949494;
  --opa: 0.6;

  /* percent-bar */
  --pbar: #eee;
}
/*  */

body {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;;
  height: 100vh;
}

footer {
  height: var(--fr-ht);
  padding: var(--pd-sm);
  color: #fff;

}

#side-nav {
  width: var(--snav-wh);
  flex-shrink: 0;
  padding: var(--nav-pd);
  overflow-x: visible;
  color: var(--obs)
}

main {
  flex-grow: 1;
}

header {
  height: var(--fr-ht);
}

/* nav > div{
  padding: var(--nav-pd)
} */

/* span {
  margin: 0 5px;
} */

img {
  max-width: 100%;
}

ul {
  list-style-type: none;

  /* li {
    margin-bottom: 4px;
  } */
  
  a {
      text-decoration: none;
      color: var(--obs);
  }  
}

h1 {
  margin-top: 30px;
}

/* background-color */
.fr-bdc {
  background-color: #353535;
}

.snav-bdc {
  background-color: #000;
}

/* Utilities */
.top-content {
  height: calc(100vh - var(--fr-ht));
}

/* in footer */
/* imposta una stessa dimensione per tutti i figli di flex */
.children-fbasis > * {
 flex-basis: 32%;
}

.percentual-bar {
  height: 100%;
  border-radius: 3px;
  background-color: var(--pbar);
}

/* side-content on the left */
.side-content.left{
  img {
   display: block;
   width: auto;
   height: calc(var(--fr-ht ) / 2);
  }

  .info-track {
   margin: 0 5px;
   flex-basis: min-content;

   span{
     font-size: 1.05rem;
     font-weight: 600;
   }
 
   span:last-child {
     font-size: 0.8rem;
     color: var(--obs);
   };
  }

  .fav-save-buttons {
    a {
      color: var(--obs);
    }
  }
}

/* side-content on the right */
.side-content.right {
  li {
    margin-right: 10px
  }

  .vol-bar {
    width: 80px;
    height: 4px;
    background-color: var(--obs);
    border-radius: 2px;

    .percentual-bar {
      width: 30%;
    }
  }
}

.central-content{
  ul{
    width: 100%;
    font-size: 1.4rem;
  } 

  .fa-circle-play {
    font-size: 2.4rem;
  }

  .track-progress {
    font-size: 0.7rem;

    .track-bar {
      width: 80%;
      height: 4px;
      background-color: var(--obs);
      border-radius: 3px;
      margin: 20px 8px;

      .percentual-bar {
        width: 10%;
      }
    }
  } 
}

/* in side-nav */
#snav-header, #snav-footer {
  flex-basis: max-content;
}

#snav-header img{
  width: 80%;
}

#snav-contents {
  flex: 1;
  overflow-x: visible;
  overflow-y: hidden;

  img {
    opacity: var(--opa);
  }

  #playlists {
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;

    .fa-square-plus {
      font-size: 3.5rem;
    }
  }
}

#snav-contents #spotify-sections ul {
  list-style-type: none;
  list-style-position: inside;
  margin-top: 10px;

  img {
    width: 70%;
  }
}

#snav-footer {
  padding: 0;
  
  .box-download-btn {
    margin-bottom: 10px;

    img {
      width: 70%;
      margin-left: -4px;
      opacity: var(--opa);
    }    
  }
  
  .separator-div {
    border: 1px solid var(--obs);
    margin-top: 0;
  }

  .profile-box {
    img {
      width: 70%;
    }

    .profile-img{
      width: 80%;
      border-radius: 50%;
      padding: 2px 0;
      background-color: #aaa;
      margin: 0 auto;
    }
  }
}

/* #spotify-sections ul li::marker {
  margin-left: 5.6px;
} */

/* in main */
main {
  position: relative;
  overflow-y: auto;
}

main header {
  padding-right: var(--sec-pd-lg);
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  line-height: var(--fr-ht);
  text-align: right;
}

.button-box {
  display: inline-block;
  width: 160px;
  text-align: center;
}

#main-contents {
  padding: var(--pd-md);
}

.col{
  width: 50%;
  min-height: var(--mh-md);
  border: 1px solid goldenrod;
}

.card {
  background-color: plum;
  height: 100%;
}
