/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
/* fixed dimension */
:root {
  --fr-ht: 120px
}
/*  */

body {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;;
  height: 100vh;
}

footer {
  height: var(--fr-ht);
  padding: var(--pd-m);
  color: #33a42b;
}

nav {
  width: 50px;
  padding: var(--nav-pd);
}

main {
  flex-grow: 1;
}

header {
  height: var(--fr-ht);
}

/* nav > div{
  padding: var(--nav-pd)
} */

/* span {
  margin: 0 5px;
} */

/* img {
  width: 100%;
} */

ul {
  list-style-type: none;

  li {
    margin-bottom: 4px;
  }
  
  a {
      text-decoration: none;
      color: white;
  }  
}

/* Utilities */
.top-content {
  flex-grow: 1;
  max-height: calc(100vh - var(--fr-ht));
}

/* in footer */
/* imposta una stessa dimensione per tutti i figli di flex */
.children-flex-basis > * {
 flex-basis: 30%;
}

/* in side-nav */
#side-nav {
  height: 100%;
}

#snav-header, #snav-footer {
  flex-basis: max-content;
}

#snav-contents {
  flex: 1;
  overflow: hidden;

  #playlists {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/* in main */
main {
  position: relative;
  overflow-y: auto;
}

main header {
  padding-right: var(--sec-pd-lg);
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  line-height: var(--fr-ht);
  text-align: right;
}

.button-box {
  display: inline-block;
  width: 160px;
  text-align: center;
}

#main-contents {
  padding: var(--pd-sm);
}
